body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
.box {
  width: 500px;
  h1 {
    font-size: 16px;
    font-weight: bold;
  }
  p {
    text-decoration: underline;
    padding-right: 16px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    .period-container {
      display: flex;
      justify-content: right !important;
      float: right !important;
    }
  }
  .header-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-top: 24px;
  }
  li {
    border: solid black 2px;
    border-radius: 16px;
    padding: 8px;
  }
  li:hover {
    padding: 10px;
    background-color: light-blue;
  }
  .author {
    font-size: 16px;
    font-weight: 200;
    padding-top: 16px;
  }
  .toggle {
  display: none;
    }
}


.primary-btn {
  color: white;
  background-color: teal;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: opacity .5s;
  display: block;
  &:hover {
    opacity: 0.8;
  }
}
